
<h2>WELCOME TO THE SCHOLAR SHIPS</h2>
<div id="home1"><p>
 <br>The most useful web for the scholarships indivudals,
through this web every one can apply for suitable post, we provide apportunity
for bright future, search your desire scholarships which announced by the government/
none Govt organizations. You may also find here rights for your articles/
comments/categories. We post for you most newest news,scholarships, social activities,
ideas and career counselling. Our team care for you respect for your ideas and we
also awaiting for your kind suggestions/feedback.<br>
</div>
<br>
<br>

<h2>CATEGORIES</h2>
<div id="home2">
In this web some categories you may find, which are exist province wise.
 Every new announcement is available in categoreis with relevent Province. Searches
 types are news/ scholarships advertisement, past competeitive exams papers, scholarships 
 for Students, admissions, exams datesheets and much more important notes. Just
 get sigup and login then you will be updated with all of theis news/advertisements.
To sign up for this web you must have a valid e.mail adress.
  </p>
  </div>
