<p>
Dear <b> <%= @contact.name %> </b>
</p>
<br>
<p>
Thank you very much for your contact with us. Your request for asking question has been submitted and you will receive an email very soon with a suitable reply...
</p>
<hr>
<p style="color: gray; font-size: 11px;"><i>This email is sent form PakApply contact module</i></p>