<p style="color:black">
  <strong>Subject:</strong>
  <%= @contact.contact_sub %>
</p>

<p style="color:black">
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p style="color:black">
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p style="color:black">
  <strong>Message: </strong>
  <%= @contact.question %>
</p>
<hr>
<p style="color: gray; font-size: 11px;"><i>This email is sent form PakApply contact module</i></p>